.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    footer{
        margin-top: auto;
        justify-self: flex-end;
    }
    nav{
        a{
            color: #5F021F;
            font-size: 15px;
        }
    }
}